@inherits LayoutComponentBase

<PageTitle>BlazorCoreDemoSvr</PageTitle>


<div class="dropdown-header">
    <NavMenu />
</div>

<div class="page">
    <main>
        <article class="content pb-3">
            @Body
        </article>
    </main>
</div>
